<header class = "jumbotron">
  <h1>Craigslist</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'index'}}index page{{/link-to}}
  {{#link-to 'admin'}}admin page{{/link-to}}
</footer>
